<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/npm.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.11.2/moment.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.11.2/moment-with-locales.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} - {{ _('Microblog') }}</title>
    {% else %}
    <title>{{ _('Microblog') }}</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{ _('Microblog') }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
          {% if g.user.is_authenticated %}
          <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Your Profile') }}</a></li>
          <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
          <form class="navbar-form navbar-right" role="search" action="{{ url_for('search') }}" method="post">
            {{g.search_form.hidden_tag()}}
            {{g.search_form.search(size=20)}}
            <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
          </form>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
